[submodule "themes/careercanvas"]
	path = themes/careercanvas
	url = https://github.com/felipecordero/careercanvas.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "public"]
	path = public
	url = https://github.com/wamansou/waelmansour.github.io.git
